@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");
@font-face {
  font-family: WhitneySans;
  src: url(../fonts/Whitney-Semibold.otf);
}

@font-face {
  font-family: WhitneySansMedium;
  src: url(../fonts/WhitneySans-MediumOSFRegular.ttf);
}

@font-face {
  font-family: WhitneySansLight;
  src: url(../fonts/Whitney-Light.otf);
}

.whitneysans {
  font-family: WhitneySans;
  font-size: 5ex;
}

.chewy {
  font-family: Chewy;
  font-size: 5ex;
  line-height: 57px;
  height: 48px;
}

.damion {
  font-family: Damion;
  font-size: 4ex;
}

.arial {
  font-family: Arial;
  font-size: 4ex;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: WhitneySans;
}

.section-header {
  font-size: 32px;
  font-weight: 600;
  color: #252525;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 83px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.carousel-indicators .active {
  opacity: 1;
  background: #36A7AA;
  border-color: #36A7AA;
}

.carousel {
  margin-top: 16px;
}

.carousel-indicators {
  position: relative;
  margin-top: 40px;
  z-index: 0;
}

.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  box-sizing: border-box;
  background: #fff;
  background-clip: padding-box;
  border: 3px solid #707070;
  opacity: .5;
  transition: opacity .6s ease;
}

.carousel-indicators li {
  margin-right: 13px;
}

@media (max-width: 992px) {
  #fixedNavbar {
    display: none;
  }
}

.flex-1 {
  flex: 1;
  flex-basis: 100%;
}

@media (max-width: 992px) {
  .flex-1 {
    display: none;
  }
}

.flex-1 .back-button {
  font-size: 14px;
  font-family: WhitneySansLight;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.flex-1 .back-button svg {
  width: 13px;
  height: 11px;
  margin-right: 10px;
  fill: #252525;
}

.mobile-v {
  display: none;
}

@media (max-width: 992px) {
  .mobile-v {
    display: block;
  }
}

.card-parent {
  position: relative;
  cursor: pointer;
}

.card-parent .card-counter {
  position: absolute;
  top: -13px;
  left: -16px;
  font-family: WhitneySansLight;
}

.card-parent svg .a {
  fill: #707070;
}

.card-parent:hover svg .a {
  fill: #f16649;
}

nav {
  height: 100px;
}

@media (max-width: 768px) {
  nav .navbar-brand {
    margin: 0;
  }
  nav .navbar-brand img {
    width: 105px;
  }
}

nav.navbar {
  padding: 0;
}

nav .header-right-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: WhitneySansMedium;
  font-size: 16px;
}

@media (max-width: 992px) {
  nav .header-right-section {
    display: none;
  }
}

nav .header-right-section .sign-in {
  cursor: pointer;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav .header-right-section .sign-in .dot {
  visibility: hidden;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: calc(50% - 4px);
  top: 15px;
  opacity: 0;
  transition: .5s;
}

nav .header-right-section .sign-in:hover .dot {
  visibility: visible;
  opacity: 1;
  top: 28px;
}

nav .header-right-section .languages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px 0 28px;
  color: #A7A7A7;
  border: 1px solid;
  border-radius: 50px;
  padding: 2px 13px 3px;
}

nav .header-right-section .languages .line {
  margin: 0 3px;
}

nav .header-right-section .languages .active {
  color: #242424;
}

nav .collapse .navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav .collapse .navbar-nav li {
  margin-right: 125px;
  position: relative;
  cursor: pointer;
}

nav .collapse .navbar-nav li a {
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
  text-transform: uppercase;
  font-family: WhitneySansMedium;
  font-weight: 600;
}

nav .collapse .navbar-nav li:hover .nav-dot {
  visibility: visible;
  opacity: 1;
  top: 28px;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  nav .collapse .navbar-nav li {
    margin-right: 55px;
  }
}

nav .collapse .navbar-nav li:last-child {
  margin-right: 0;
}

.nav-dot {
  visibility: hidden;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: calc(50% - 4px);
  top: 15px;
  opacity: 0;
  transition: .5s;
}

.navbar-light .navbar-toggler {
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  border-color: transparent;
}

.navbar-light .navbar-toggler:focus {
  outline: none;
}

.mobile-menu-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #646464;
  top: 0;
  left: 0;
  z-index: 9999;
}

.mobile-menu {
  position: fixed;
  width: 308px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 99999;
}

.mobile-menu__header {
  width: 100%;
  height: 125px;
  background-color: #F5F5F5;
  padding: 37px 0 57px 18px;
}

.mobile-menu__header .header-logo img {
  width: 103px;
  height: 31px;
}

.mobile-menu-body {
  height: 81%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
}

.mobile-menu__items a {
  width: 100%;
  display: block;
  color: #252525;
  height: 50px;
  padding: 13px 4px;
  margin: 0 24px;
  font-size: 16px;
  border-bottom: 1px solid #A0A0A0;
  text-decoration: none;
}

.mobile-menu__items a:last-child {
  border-bottom: none;
}

.mobile-menu__items a .svg {
  width: 15px;
  height: 15px;
  margin-right: 13px;
}

.mobile-menu__items a svg .a {
  fill: #252525;
}

.mobile-menu__lng-change {
  margin: 0 20px 20px 0;
  width: 130px;
}

.mobile-menu__lng-change .languages {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A7A7A7;
  border: 1px solid;
  border-radius: 50px;
  padding: 2px 27px 3px;
}

.mobile-menu__lng-change .languages .line {
  margin: 0 3px;
}

.mobile-menu__lng-change .languages .active {
  color: #242424;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .mobile-menu {
    overflow: scroll;
  }
  .mobile-menu-body {
    height: 150%;
  }
}

.shadow {
  position: sticky;
  top: 0;
  z-index: 8;
  background-color: #fff !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16078);
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

li.nav-item.dropdown .dropdown-menu {
  padding: 23px 0;
}

li.nav-item.dropdown .dropdown-menu a {
  padding-left: 23px;
}

li.nav-item.dropdown .dropdown-menu a.dropdown-item {
  padding: 5px 16px;
  text-transform: capitalize;
}

li.nav-item.dropdown .dropdown-menu a.dropdown-item:active {
  background-color: initial;
}

.main-video video {
  width: 100%;
  height: 882px;
  object-fit: cover;
}

@media (max-width: 992px) {
  .main-video video {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .main-video video {
    height: 198px;
  }
}

.newsletter {
  width: 100%;
  min-height: 240px;
  height: auto;
  background-color: #ECECEC;
  margin-top: 50px;
  padding: 34px 0 51px 0;
}

.newsletter .newletter_header {
  color: #252525;
  text-align: center;
  font-size: 22px;
  margin-bottom: 32px;
}

.newsletter .form-group label {
  font-family: WhitneySansMedium;
  font-size: 14px;
  margin-bottom: 4px;
}

.newsletter .form-group input {
  width: 100%;
  border: 1px solid transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 58px;
  padding: 20px 28px;
  font-family: WhitneySansLight;
}

.newsletter .form-group input:focus {
  outline: none;
  border-color: #36A7AA;
}

.newsletter .form-group input::placeholder {
  color: #676464;
  opacity: .2;
}

.newsletter .subscribe-button-parent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 992px) {
  .newsletter .subscribe-button-parent {
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .newsletter .subscribe-button-parent {
    justify-content: center;
  }
}

.newsletter .subscribe-button {
  color: #fff;
  background-color: #F16649;
  border-radius: 30px;
  font-size: 18px;
  border: 1px solid transparent;
  outline: none;
  width: 173px;
  height: 54px;
  margin-top: 11px;
  transition: .3s ease-in;
  box-sizing: border-box;
  cursor: pointer;
}

.newsletter .subscribe-button:hover {
  background: transparent;
  color: #000;
  border-color: #36A7AA;
}

section.our-products {
  text-align: center;
  padding: 168px 0 70px;
  border-bottom: 1px solid #707070;
}

@media (max-width: 768px) {
  section.our-products {
    padding: 32px 0 0;
    border-bottom: none;
  }
  section.our-products .section-header {
    margin-bottom: 32px;
  }
}

section.our-products .products-parent .products-parent-row {
  margin-top: 26px;
  display: flex;
  gap: 24px;
}

@media (max-width: 768px) {
  section.our-products .products-parent .products-parent-row.first {
    flex-direction: column;
  }
  section.our-products .products-parent .products-parent-row.second {
    flex-direction: column-reverse;
  }
}

section.our-products .products-parent .products-parent-row .two-parent {
  display: flex;
  gap: 24px;
  justify-content: center;
}

section.our-products .products-parent .products-parent-row .two-parent .product {
  flex: 1;
}

section.our-products .products-parent .products-parent-row .product {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

section.our-products .products-parent .products-parent-row .product:hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  transition: .5s;
  border-radius: 20px;
}

section.our-products .products-parent .products-parent-row .product:hover .shop-button {
  display: block;
}

section.our-products .products-parent .products-parent-row .product img {
  width: 100%;
  height: 100%;
}

section.our-products .products-parent .products-parent-row .product .shop-button {
  display: none;
  position: absolute;
  width: 120px;
  bottom: 23%;
  background: #fff;
  color: #242424;
  border-radius: 20px;
  padding: 8px;
}

section.our-products .more-parent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 18px 0 0 0;
}

section.our-products .more-parent .more-button {
  cursor: pointer;
}

section.our-products .more-parent .more-button i {
  margin-left: 8px;
}

.about-us {
  padding: 168px 0;
}

@media (max-width: 768px) {
  .about-us {
    padding: 71px 0 0;
  }
  .about-us .section-header {
    margin-bottom: 32px;
  }
}

.about-us .about-us__wrapper {
  display: flex;
}

@media (max-width: 992px) {
  .about-us .about-us__wrapper {
    flex-direction: column-reverse;
  }
}

.about-us .about-us__wrapper .about-left {
  flex: 1;
  margin-right: 60px;
}

@media (max-width: 992px) {
  .about-us .about-us__wrapper .about-left {
    margin: 31px 0 0 0;
  }
}

.about-us .about-us__wrapper .about-right {
  flex: 2;
}

.about-us .about-us__wrapper .about-right img {
  width: 100%;
}

.about-us .about-us__wrapper .about-left__header {
  font-size: 24px;
}

.about-us .about-us__wrapper p {
  margin-top: 26px;
  font-size: 18px;
  font-family: WhitneySansLight;
}

.services {
  padding: 168px 0;
  background-image: url("../images/service-bg.png");
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .services {
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .services {
    padding: 49px 0;
    background-image: none;
  }
}

.services .services__wrapper {
  display: flex;
}

@media (max-width: 992px) {
  .services .services__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .services .services__wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.services .services__wrapper .service:nth-child(2) {
  margin: 0 24px;
}

@media (max-width: 768px) {
  .services .services__wrapper .service:nth-child(2) {
    margin: 15px 0;
  }
}

.services .services__wrapper .service {
  flex: 1;
  height: 530px;
  background: #FFF;
  box-shadow: 0px 4px 8px #00000029;
  border-radius: 20px;
}

@media (max-width: 992px) {
  .services .services__wrapper .service {
    flex: none;
    margin-bottom: 15px;
  }
}

.services .services__wrapper .service .service__header {
  padding: 32px 0 32px 56px;
  color: #fff;
  width: 255px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 18px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .services .services__wrapper .service .service__header {
    height: 51px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.services .services__wrapper .service .service__header.yellow {
  background: #BDB130;
}

.services .services__wrapper .service .service__header.green {
  background: #F16649;
}

.services .services__wrapper .service .service__header.blue {
  background: #36A7AA;
}

.services .services__wrapper .service .service-item-list {
  list-style-type: none;
  color: #252525;
  font-family: WhitneySansLight;
  font-size: 16px;
  margin-top: 36px;
  padding: 0 25px 0 55px;
}

.services .services__wrapper .service .service-item-list li {
  margin-bottom: 16px;
}

.services .services__wrapper .service .service-item-list li:before {
  content: '✓';
  padding: 5px;
}

.services .services__wrapper .service .service-item-list.list-yellow li:before {
  color: #BDB130;
}

.services .services__wrapper .service .service-item-list.list-red li:before {
  color: #F16649;
}

.services .services__wrapper .service .service-item-list.list-green li:before {
  color: #36A7AA;
}

.contact-us {
  padding: 168px 0;
}

@media (max-width: 768px) {
  .contact-us {
    padding: 32px 0;
  }
}

.contact-us .section-header {
  margin-bottom: 0;
}

.contact-us .contact-us__form-parent {
  display: flex;
  justify-content: center;
}

.contact-us .contact-us__form-parent .form {
  width: 80%;
  background-image: url("../images/contact-map.png");
  background-repeat: no-repeat;
  background-position: 0 -65px;
  padding-top: 140px;
}

@media (max-width: 768px) {
  .contact-us .contact-us__form-parent .form {
    padding-top: 137px;
    background-position: -103px -88px;
    background-size: 150%;
  }
}

.contact-us .contact-us__form-parent .form .form__row {
  display: flex;
  margin-bottom: 32px;
}

@media (max-width: 992px) {
  .contact-us .contact-us__form-parent .form .form__row {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .contact-us .contact-us__form-parent .form .form__row {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.contact-us .contact-us__form-parent .form .form__row .input-parent:first-child {
  margin-right: 53px;
}

@media (max-width: 992px) {
  .contact-us .contact-us__form-parent .form .form__row .input-parent:first-child {
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .contact-us .contact-us__form-parent .form .form__row .input-parent:first-child {
    margin-right: 0;
  }
}

.contact-us .contact-us__form-parent .form .form__row .input-parent {
  flex: 1;
}

.contact-us .contact-us__form-parent .form .form__row .input-parent input {
  width: 100%;
  border: 1px solid #151D41;
  border-radius: 5px;
  height: 64px;
  padding: 15px;
  font-family: WhitneySansLight;
  color: #252525;
}

.contact-us .contact-us__form-parent .form .form__row .input-parent input:focus {
  outline: none;
  border-color: #36A7AA;
}

@media (max-width: 768px) {
  .contact-us .contact-us__form-parent .form .form__row .input-parent {
    margin: 0 0 32px 0;
  }
  .contact-us .contact-us__form-parent .form .form__row .input-parent input {
    height: 48px;
  }
}

.contact-us .contact-us__form-parent .form .form__row .textarea-parent {
  width: 100%;
}

@media (max-width: 768px) {
  .contact-us .contact-us__form-parent .form .form__row .textarea-parent {
    margin: 0 0 32px 0;
  }
}

.contact-us .contact-us__form-parent .form .form__row .textarea-parent textarea {
  width: 100%;
  min-height: 234px;
  resize: none;
  border-radius: 5px;
  padding: 15px;
  font-family: WhitneySansLight;
  color: #252525;
  border: 1px solid #151D41;
}

.contact-us .contact-us__form-parent .form .form__row .textarea-parent textarea:focus {
  outline: none;
  border-color: #36A7AA;
}

.contact-us .contact-us__form-parent .form .send-button-parent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 768px) {
  .contact-us .contact-us__form-parent .form .send-button-parent {
    justify-content: center;
  }
}

.contact-us .contact-us__form-parent .form .send-button-parent .send {
  color: #fff;
  background-color: #F16649;
  border-radius: 30px;
  font-size: 18px;
  border: 1px solid transparent;
  outline: none;
  width: 173px;
  height: 54px;
  transition: .3s ease-in;
  box-sizing: border-box;
  cursor: pointer;
}

.contact-us .contact-us__form-parent .form .send-button-parent .send:hover {
  background: transparent;
  color: #000;
  border-color: #36A7AA;
}

.back-to-top {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  position: fixed;
  right: 100px;
  bottom: 100px;
  z-index: 9;
  border-radius: 50%;
  background: #fff;
  font-size: 24px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16078);
  cursor: pointer;
  color: #252525;
}

@media (max-width: 768px) {
  .back-to-top {
    top: 85%;
    right: 2%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .back-to-top {
    top: 80%;
  }
}

.back-to-top i {
  transition: .5s;
}

.back-to-top:hover {
  color: #252525;
  text-decoration: none;
}

.back-to-top:hover i {
  color: #36A7AA;
  transform: scale(1.4);
}

.support-icon-wrapper {
  display: none !important;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px #00000029;
  position: fixed;
  bottom: 100px;
  left: 100px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

@media (max-width: 768px) {
  .support-icon-wrapper {
    top: 85%;
    left: 2%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .support-icon-wrapper {
    top: 80%;
  }
}

.support-icon-wrapper svg .aa {
  fill: #676463;
}

.support-icon-wrapper svg {
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.support-icon-wrapper:hover svg {
  transform: scale(2);
}

.support-icon-wrapper:hover svg .aa {
  fill: #36A7AA !important;
}

.live-chat-wrapper {
  display: none;
  width: 382px;
  height: 345px;
  background: #ECECEC;
  border-radius: 20px;
  position: absolute;
  left: -20%;
  bottom: -100%;
  z-index: 99;
  box-shadow: 0px 4px 8px #00000029;
}

@media (max-width: 768px) {
  .live-chat-wrapper {
    left: 0%;
    bottom: 0%;
  }
}

.live-chat-wrapper .chat-head {
  background: #fff;
  border-radius: 20px;
  padding: 26px 24px 15px;
}

.live-chat-wrapper .chat-head .header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.live-chat-wrapper .chat-head .header-section .chat-logo {
  width: 92px;
  height: 27px;
}

.live-chat-wrapper .chat-head .header-section .chat-logo img {
  width: 100%;
}

.live-chat-wrapper .chat-head .header-section .chat-close {
  cursor: pointer;
  height: 25px;
  width: 25px;
  font-size: 19px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-chat-wrapper .chat-head .content-section {
  margin-top: 31px;
  text-align: center;
  padding: 0 49px;
}

.live-chat-wrapper .chat-head .content-section .welcome-message {
  color: #151D41;
  margin-top: 19px;
  margin-bottom: 13px;
  font-size: 16px;
  font-family: WhitneySansLight;
}

.live-chat-wrapper .chat-head .content-section .chat-status {
  color: #F16649;
  font-size: 16px;
  font-family: WhitneySans;
}

.live-chat-wrapper .message-section {
  padding: 20px;
}

.live-chat-wrapper .message-section textarea {
  resize: none;
  border: none;
  outline: none;
  width: 100%;
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: transparent;
  color: #676464;
}

.live-chat-wrapper .message-section textarea::placeholder {
  color: #bab9b9;
}

.live-chat-wrapper .message-section .bottom-smile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.live-chat-wrapper .message-section .bottom-smile-section .emoji, .live-chat-wrapper .message-section .bottom-smile-section .paper-clip {
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.live-chat-wrapper .message-section .bottom-smile-section .emoji {
  background-image: url(../images/emoji.svg);
}

.live-chat-wrapper .message-section .bottom-smile-section .paper-clip {
  background-image: url(../images/paper-clip.svg);
}

.personalized-frames {
  padding: 64px;
  color: #252525;
}

@media (max-width: 768px) {
  .personalized-frames {
    padding: 27px 5px;
  }
}

.personalized-frames .personalized-frames_header {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.personalized-frames .personalized-frames_header .reset {
  all: initial;
  display: none;
}

@media (max-width: 768px) {
  .personalized-frames .personalized-frames_header {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .personalized-frames .personalized-frames_header .reset {
    display: block;
  }
}

.personalized-frames .step-by-step-progres-parent {
  position: relative;
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personalized-frames .mobile-back {
  display: none;
}

.personalized-frames .mobile-back svg {
  width: 13px;
  height: 13px;
}

@media (max-width: 768px) {
  .personalized-frames .mobile-back {
    display: block;
  }
}

.personalized-frames .reset {
  position: absolute;
  left: 0;
  top: 0;
  color: #F16649;
  font-family: WhitneySansLight;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .personalized-frames .reset {
    display: none;
  }
}

@media screen and (max-width: 670px) and (min-width: 300px) {
  .personalized-frames .reset {
    top: 35px;
  }
}

.personalized-frames .two-blocks-parent {
  margin-top: 64px;
  display: flex;
}

.personalized-frames .two-blocks-parent .left-col, .personalized-frames .two-blocks-parent .right-col {
  flex: 1;
}

.personalized-frames .two-blocks-parent .left-col {
  margin-right: 50px;
}

.personalized-frames .two-blocks-parent .field-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personalized-frames .two-blocks-parent .field-parent .plus {
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 20px;
}

.personalized-frames .two-blocks-parent .field-parent .plus:hover {
  opacity: .8;
}

.personalized-frames .two-blocks-parent .input-parent-block {
  position: relative;
}

.personalized-frames .two-blocks-parent .input-parent-block input {
  width: 100%;
  height: 63px;
  border: none;
  border-bottom: 1px solid #ECECEC;
  padding: 25px 60px 25px 15px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.16px;
  font-size: 16px;
  font-family: WhitneySansLight;
  text-transform: uppercase;
}

.personalized-frames .two-blocks-parent .input-parent-block input::placeholder {
  color: #A2A2A2;
  opacity: 1;
  text-transform: initial;
}

.personalized-frames .two-blocks-parent .input-parent-block input:focus {
  outline: none;
  border-color: #007bff;
}

.personalized-frames .two-blocks-parent .input-parent-block .limitor {
  position: absolute;
  right: 2%;
  top: 36%;
  color: #E1E1E1;
}

.personalized-frames .two-blocks-parent .fonts-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 34px;
  margin-top: 16px;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item {
  width: 112px;
  height: 93px;
  text-align: center;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item input {
  display: none;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item label {
  width: 100%;
  height: 60px;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item:nth-child(1) {
  font-family: WhitneySans;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item:nth-child(2) {
  font-family: 'Chewy', cursive;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item:nth-child(3) {
  font-family: 'Damion', cursive;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item:nth-child(4) {
  font-family: Arial;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item:nth-child(4) .font-prev {
  font-weight: 900;
}

.personalized-frames .two-blocks-parent .fonts-list .font-prev {
  width: 100%;
  height: 60px;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  transition: .3s ease-in;
  cursor: pointer;
  color: #676464;
}

.personalized-frames .two-blocks-parent .fonts-list .font-prev:hover {
  border-color: #36A7AA;
}

.personalized-frames .two-blocks-parent .fonts-list .font-name {
  margin-top: 8px;
  color: #A7A7A7;
  font-family: WhitneySansMedium;
}

.personalized-frames .two-blocks-parent .field-header {
  font-size: 18px;
}

@media (max-width: 768px) {
  .personalized-frames .two-blocks-parent {
    margin-top: 32px;
  }
  .personalized-frames .two-blocks-parent .left-col {
    position: sticky;
    top: 0;
    z-index: 7;
  }
}

.apply-button {
  width: 100%;
  height: 50px;
  color: #fff;
  border: none;
  box-sizing: border-box;
  background: #36A7AA;
  outline: none;
  opacity: 1;
  margin-bottom: 34px;
  transition: .3s;
  cursor: pointer;
}

.apply-button:focus {
  outline: none;
}

.apply-button:hover {
  opacity: .9;
}

.toggle-inputs {
  display: none;
}

.textDropable {
  display: inline;
  line-height: 49px;
  cursor: grab;
  width: max-content;
  text-transform: uppercase;
}

.textDropable span.clear-text {
  white-space: break-spaces;
}

.rotate {
  transform: rotate(180deg) !important;
}

.checked-font {
  background-color: #36A7AA;
  border-radius: 5px;
}

.checked-font div {
  color: #fff !important;
}

.preview-frame-parent {
  width: 568px;
  height: 608px;
  background: #FFF;
  border: 1px solid #707070;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .preview-frame-parent {
    height: 245px;
  }
}

.preview-frame-parent .frame {
  position: relative;
  width: 385px;
  height: 500px;
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .preview-frame-parent .frame {
    height: 245px;
    background-size: contain;
  }
}

.preview-frame-parent .frame .fr {
  z-index: 88;
}

.preview-frame-parent .frame .fr .draggable {
  width: 55px;
  height: 55px;
  cursor: grab;
}

.preview-frame-parent .frame .fr .draggable svg {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  display: inline-block;
}

.preview-frame-parent .frame .fr .draggable svg .a {
  fill: #252525;
}

.preview-frame-parent .frame .top {
  width: 86.5%;
  height: 63px;
  position: absolute;
  top: 0%;
  left: 4.5%;
  transform: rotate(-1deg);
}

@media (max-width: 400px) {
  .preview-frame-parent .frame .top {
    left: 2%;
    top: 4%;
    width: 91%;
  }
}

.preview-frame-parent .frame .right {
  width: 17.5%;
  height: 71.4%;
  position: absolute;
  top: 12%;
  left: 74%;
  transform: rotate(-0.3deg);
  writing-mode: tb-rl;
}

@media (max-width: 400px) {
  .preview-frame-parent .frame .right {
    height: 68%;
    top: 14%;
    left: 76%;
    width: 17%;
    transform: rotate(-0.1deg);
  }
}

.preview-frame-parent .frame .bottom {
  width: 87%;
  height: 67px;
  position: absolute;
  bottom: 3%;
  left: 5%;
  transform: rotate(-0.5deg);
}

@media (max-width: 400px) {
  .preview-frame-parent .frame .bottom {
    width: 90%;
    left: 3%;
    transform: rotate(-1.1deg);
    bottom: 6.8%;
  }
}

.preview-frame-parent .frame .left {
  width: 17.5%;
  height: 70.95%;
  position: absolute;
  top: 13.085%;
  right: 78%;
  transform: rotate(-0.1deg);
  writing-mode: tb-rl;
}

@media (max-width: 400px) {
  .preview-frame-parent .frame .left {
    top: 15%;
    right: 81.5%;
    height: 68%;
    width: 16%;
  }
}

.snaptarget-hover {
  background: #ff00002e;
}

.fix-button-parent {
  /* position: fixed; */
  /* bottom: 0; */
  /* left: 0; */
  width: 100%;
  /* height: 183px; */
  background-color: #fff;
  /* box-shadow: 4px 0px 8px #00000029; */
  /* padding: 0 50px 0; */
  display: flex;
  justify-content: center;
  z-index: 999;
}

.fix-button-parent .next-button {
  width: 330px;
  height: 55px;
  background-color: #F16649;
  border-radius: 28px;
  font-size: 18px;
  color: #fff;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: .3s;
  cursor: pointer;
}

.fix-button-parent .next-button svg {
  width: 30px;
  height: 20px;
  transform: rotate(180deg);
  transition: .3s;
}

.fix-button-parent .next-button:hover svg#Layer .hovered-path {
  fill: #000;
}

.fix-button-parent .next-button:hover {
  background: #fff;
  color: #000;
  border-color: #36A7AA;
}

.progressbar-wrapper {
  width: 360px;
}

@media (max-width: 768px) {
  .progressbar-wrapper {
    width: 150px;
  }
}

.progressbar-wrapper .progressbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .progressbar-wrapper .progressbar {
    margin: 0 auto;
  }
}

.progressbar-wrapper .progressbar div {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #707070;
}

.progressbar-wrapper .progressbar div:before {
  content: '';
  position: absolute;
  width: 175px;
  height: 2px;
  background: #707070;
  top: 45%;
  left: -85px;
  z-index: -1;
}

.progressbar-wrapper .progressbar div:last-child:before {
  width: 87.5px;
}

.progressbar-wrapper .progressbar div.active {
  background-color: #BDB130;
  border-color: #BDB130;
}

.progressbar-wrapper .progressbar div.active:before {
  content: '';
  position: absolute;
  width: 87.5px;
  height: 2px;
  background: #BDB130;
  top: 45%;
  left: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  .progressbar-wrapper .progressbar div:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 2px;
    background: #707070;
    top: 45%;
    left: -28px;
    z-index: -1;
  }
  .progressbar-wrapper .progressbar div.active:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background: #BDB130;
    top: 45%;
    left: 0;
    z-index: 2;
  }
  .progressbar-wrapper .progressbar div:last-child:before {
    width: 38px;
  }
}

.sticker-items-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .sticker-items-parent {
    gap: 10px;
    flex-wrap: wrap;
  }
}

.sticker-items-parent .sticker-parent {
  margin-top: 16px;
  width: 112px;
  height: 104px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: .3s ease-in;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .sticker-items-parent .sticker-parent {
    width: 22%;
  }
}

.sticker-items-parent .sticker-parent svg .a {
  fill: #676464;
  transition: .3s ease-in;
}

.sticker-items-parent .sticker-parent:hover {
  border-color: #36A7AA;
}

.sticker-items-parent .sticker-parent:hover svg .a {
  fill: #36A7AA !important;
}

.sticker-parent.draggable.fr.ui-draggable {
  position: absolute !important;
}

.sign-in-black {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2525254D;
  z-index: 999;
  transition: .3s;
}

.sign-in__parent {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  max-width: 1121px;
  height: auto;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 30px;
  transition: .3s;
}

.sign-in__parent .sign-in-block {
  width: 100%;
  height: 100%;
  border: 2px solid #F16649;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in__parent .sign-in-block .popup-close {
  position: absolute;
  right: 4%;
  top: 1%;
  font-size: 25px;
  display: none;
}

.sign-in__parent .sign-in-block .sup {
  display: none;
}

.sign-in__parent .sign-in-block .sign-in, .sign-in__parent .sign-in-block .sign-up {
  width: 550px;
  margin: 35px 0;
}

.sign-in__parent .sign-in-block .sign-in h2, .sign-in__parent .sign-in-block .sign-in p, .sign-in__parent .sign-in-block .sign-up h2, .sign-in__parent .sign-in-block .sign-up p {
  text-align: center;
}

.sign-in__parent .sign-in-block .sign-in h2, .sign-in__parent .sign-in-block .sign-up h2 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.sign-in__parent .sign-in-block .sign-in p, .sign-in__parent .sign-in-block .sign-up p {
  font-family: WhitneySansLight;
  color: #151D41;
  margin-bottom: 67px;
}

@media (max-width: 400px) {
  .sign-in__parent .sign-in-block .sign-in p, .sign-in__parent .sign-in-block .sign-up p {
    margin-bottom: 20px;
  }
}

.sign-in__parent .sign-in-block .sign-in .double-input-parent, .sign-in__parent .sign-in-block .sign-up .double-input-parent {
  gap: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 400px) {
  .sign-in__parent .sign-in-block .sign-in .double-input-parent, .sign-in__parent .sign-in-block .sign-up .double-input-parent {
    gap: 20px;
  }
}

.sign-in__parent .sign-in-block .sign-in .login-input-parent,
.sign-in__parent .sign-in-block .sign-in .double-input-parent, .sign-in__parent .sign-in-block .sign-up .login-input-parent,
.sign-in__parent .sign-in-block .sign-up .double-input-parent {
  width: 100%;
  margin-bottom: 25px;
  font-family: WhitneySansLight;
}

@media (max-width: 400px) {
  .sign-in__parent .sign-in-block .sign-in .login-input-parent,
  .sign-in__parent .sign-in-block .sign-in .double-input-parent, .sign-in__parent .sign-in-block .sign-up .login-input-parent,
  .sign-in__parent .sign-in-block .sign-up .double-input-parent {
    margin-bottom: 15px;
  }
}

.sign-in__parent .sign-in-block .sign-in .login-input-parent input,
.sign-in__parent .sign-in-block .sign-in .double-input-parent input, .sign-in__parent .sign-in-block .sign-up .login-input-parent input,
.sign-in__parent .sign-in-block .sign-up .double-input-parent input {
  width: 100%;
  height: 64px;
  background: #FFFFFF;
  border: 1px solid #151D41;
  border-radius: 5px;
  padding: 24px 18px;
  transition: border .3s ease-in-out;
}

.sign-in__parent .sign-in-block .sign-in .login-input-parent input:focus,
.sign-in__parent .sign-in-block .sign-in .double-input-parent input:focus, .sign-in__parent .sign-in-block .sign-up .login-input-parent input:focus,
.sign-in__parent .sign-in-block .sign-up .double-input-parent input:focus {
  border-color: #36A7AA;
  outline: none;
  box-shadow: none;
}

.sign-in__parent .sign-in-block .sign-in .sign-in-button-wrapper, .sign-in__parent .sign-in-block .sign-up .sign-in-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

@media (max-width: 400px) {
  .sign-in__parent .sign-in-block .sign-in .sign-in-button-wrapper, .sign-in__parent .sign-in-block .sign-up .sign-in-button-wrapper {
    margin-bottom: 10px;
  }
}

.sign-in__parent .sign-in-block .sign-in .sign-in-button-wrapper a, .sign-in__parent .sign-in-block .sign-up .sign-in-button-wrapper a {
  color: #151D41;
  font-family: WhitneySansLight;
  text-decoration: underline;
}

.sign-in__parent .sign-in-block .sign-in .sign-in-button-wrapper button, .sign-in__parent .sign-in-block .sign-up .sign-in-button-wrapper button {
  color: #fff;
  background-color: #F16649;
  border-radius: 30px;
  font-size: 18px;
  border: 1px solid transparent;
  outline: none;
  width: 173px;
  height: 54px;
  transition: .3s ease-in;
  box-sizing: border-box;
  cursor: pointer;
}

.sign-in__parent .sign-in-block .sign-in .sign-in-button-wrapper button:hover, .sign-in__parent .sign-in-block .sign-up .sign-in-button-wrapper button:hover {
  background: transparent;
  color: #000;
  border-color: #36A7AA;
}

.sign-in__parent .sign-in-block .sign-in .sign-in-bottom-block, .sign-in__parent .sign-in-block .sign-up .sign-in-bottom-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: WhitneySansLight;
}

.sign-in__parent .sign-in-block .sign-in .sign-in-bottom-block a, .sign-in__parent .sign-in-block .sign-up .sign-in-bottom-block a {
  text-decoration: none;
  color: #F16649;
}

.sign-in__parent .sign-in-block .sign-in .sign-in-bottom-block div, .sign-in__parent .sign-in-block .sign-up .sign-in-bottom-block div {
  margin-right: 10px;
  color: #151D41;
}

@media (max-width: 650px) {
  .sign-in__parent .sign-in-block {
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  .sign-in__parent {
    height: 100%;
  }
  .sign-in__parent .sign-in-block {
    border: none;
    padding: 0;
  }
  .sign-in__parent .sign-in-block .popup-close {
    display: block;
  }
}

@media (max-width: 400px) {
  .sign-in__parent .sign-in-button-wrapper {
    flex-direction: column;
  }
  .sign-in__parent .sign-in-button-wrapper a {
    margin-bottom: 15px;
  }
  .sign-in__parent .double-input-parent {
    flex-direction: column;
  }
}

footer {
  background-color: #676464;
  font-family: WhitneySansLight;
  color: #FFF;
  padding: 65px 0 51px 0;
}

footer .faq-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.16px;
  margin-bottom: 38px;
}

footer .faq-parent a {
  color: #fff;
}

footer .faq-parent div:first-child {
  margin-right: 66px;
}

footer .support-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 67px;
}

@media (max-width: 992px) {
  footer .support-parent {
    flex-wrap: wrap;
  }
}

footer .support-parent svg {
  margin-right: 12px;
}

footer .support-parent div {
  margin-right: 55px;
}

@media (max-width: 768px) {
  footer .support-parent div {
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

footer .support-parent div:last-child {
  margin: 0;
}

footer .support-parent a {
  color: #fff;
}

footer .privacy-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  footer .privacy-parent {
    flex-wrap: wrap;
  }
  footer .privacy-parent div {
    width: 100%;
    text-align: center;
  }
}

footer .privacy-parent div:first-child {
  margin-right: 82px;
}

@media (max-width: 768px) {
  footer .privacy-parent div:first-child {
    margin-right: 0;
    margin-bottom: 7px;
  }
}

footer .privacy-parent a {
  color: #fff;
  text-decoration: underline;
}

footer .line {
  width: 100%;
  border: 1px solid;
  margin: 30px 0;
}

footer .rights-reserved {
  text-align: center;
}

.textDropable.rotate span.click-me {
  transform: rotate(270deg);
  top: -15px;
  right: -15px;
}

.textDropable span.click-me {
  font-size: 15px;
  font-family: cursive;
  position: absolute;
  top: -25px;
  cursor: pointer;
  color: #6f6f6f;
}

.sticker-parent span.click-me {
  font-size: 15px;
  font-family: cursive;
  position: absolute;
  top: -15px;
  right: 0;
  cursor: pointer;
  color: #6f6f6f;
}

div#right .sticker-parent span,
div#left .sticker-parent span {
  transform: rotate(270deg);
  top: -15px;
  right: -5px;
}

.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: -3px;
  bottom: -3px;
}

.chaport-launcher-button.no-photo.chaport-launcher-anim.chaport-anim-show {
  position: fixed;
  left: 100px;
  bottom: 100px;
}

.chaport-container.chaport-container-positioned.chaport-position-left.chaport-window-dark-gray.chaport-expanded {
  bottom: 84px !important;
  left: 84px;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .two-blocks-parent {
    flex-wrap: wrap;
  }
  .personalized-frames .two-blocks-parent .left-col {
    margin-right: 0;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .two-blocks-parent {
    flex-wrap: wrap;
  }
  .personalized-frames .two-blocks-parent .left-col {
    margin-right: 0;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
  }
  .preview-frame-parent {
    width: 100%;
  }
  .support-parent {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .right-col, .left-col {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */