@charset "UTF-8";
@font-face {
  font-family: WhitneySans;
  src: url(../fonts/Whitney-Semibold.otf);
}

@font-face {
  font-family: WhitneySansMedium;
  src: url(../fonts/WhitneySans-MediumOSFRegular.ttf);
}

@font-face {
  font-family: WhitneySansLight;
  src: url(../fonts/Whitney-Light.otf);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: WhitneySans;
}

.section-header {
  font-size: 32px;
  font-weight: 600;
  color: #252525;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 83px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

@media (max-width: 992px) {
  #fixedNavbar {
    display: none;
  }
}

.flex-1 {
  flex: 1;
  flex-basis: 100%;
}

@media (max-width: 992px) {
  .flex-1 {
    display: none;
  }
}

.mobile-v {
  display: none;
}

@media (max-width: 992px) {
  .mobile-v {
    display: block;
  }
}

.card-parent {
  position: relative;
  cursor: pointer;
}

.card-parent .card-counter {
  position: absolute;
  top: -13px;
  left: -16px;
  font-family: WhitneySansLight;
}

.card-parent svg .a {
  fill: #707070;
}

.card-parent:hover svg .a {
  fill: #f16649;
}

nav {
  height: 100px;
}

nav.navbar {
  padding: 0;
}

nav .header-right-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: WhitneySansMedium;
  font-size: 16px;
}

@media (max-width: 992px) {
  nav .header-right-section {
    display: none;
  }
}

nav .header-right-section .sign-in {
  cursor: pointer;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav .header-right-section .sign-in .dot {
  visibility: hidden;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: calc(50% - 4px);
  top: 15px;
  opacity: 0;
  transition: .5s;
}

nav .header-right-section .sign-in:hover .dot {
  visibility: visible;
  opacity: 1;
  top: 28px;
}

nav .header-right-section .languages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px 0 28px;
  color: #A7A7A7;
  border: 1px solid;
  border-radius: 50px;
  padding: 2px 13px 3px;
}

nav .header-right-section .languages .line {
  margin: 0 3px;
}

nav .header-right-section .languages .active {
  color: #242424;
}

nav .collapse .navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav .collapse .navbar-nav li {
  margin-right: 125px;
  position: relative;
  cursor: pointer;
}

nav .collapse .navbar-nav li a {
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
  text-transform: uppercase;
  font-family: WhitneySansMedium;
  font-weight: 600;
}

nav .collapse .navbar-nav li:hover .nav-dot {
  visibility: visible;
  opacity: 1;
  top: 28px;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  nav .collapse .navbar-nav li {
    margin-right: 55px;
  }
}

nav .collapse .navbar-nav li:last-child {
  margin-right: 0;
}

.nav-dot {
  visibility: hidden;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: calc(50% - 4px);
  top: 15px;
  opacity: 0;
  transition: .5s;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: transparent;
}

.navbar-light .navbar-toggler:focus {
  outline: none;
}

.main-video video {
  width: 100%;
  height: 882px;
  object-fit: cover;
}

@media (max-width: 992px) {
  .main-video video {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .main-video video {
    height: 198px;
  }
}

.newsletter {
  width: 100%;
  min-height: 240px;
  height: auto;
  background-color: #ECECEC;
  margin-top: 50px;
  padding: 34px 0 51px 0;
}

.newsletter .newletter_header {
  color: #252525;
  text-align: center;
  font-size: 22px;
  margin-bottom: 32px;
}

.newsletter .form-group label {
  font-family: WhitneySansMedium;
  font-size: 14px;
  margin-bottom: 4px;
}

.newsletter .form-group input {
  width: 100%;
  border: 1px solid transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 58px;
  padding: 20px 28px;
  font-family: WhitneySansLight;
}

.newsletter .form-group input:focus {
  outline: none;
  border-color: #36A7AA;
}

.newsletter .form-group input::placeholder {
  color: #676464;
  opacity: .2;
}

.newsletter .subscribe-button-parent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 992px) {
  .newsletter .subscribe-button-parent {
    justify-content: flex-end;
  }
}

.newsletter .subscribe-button {
  color: #fff;
  background-color: #F16649;
  border-radius: 30px;
  font-size: 18px;
  border: 1px solid transparent;
  outline: none;
  width: 173px;
  height: 54px;
  margin-top: 11px;
  transition: .3s ease-in;
  box-sizing: border-box;
  cursor: pointer;
}

.newsletter .subscribe-button:hover {
  background: transparent;
  color: #000;
  border-color: #36A7AA;
}

section.our-products {
  text-align: center;
  padding: 168px 0 70px;
  border-bottom: 1px solid #707070;
}

section.our-products .products-parent .products-parent-row {
  margin-top: 26px;
  display: flex;
}

@media (max-width: 992px) {
  section.our-products .products-parent .products-parent-row {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media (max-width: 768px) {
  section.our-products .products-parent .products-parent-row {
    margin: 16px 0;
  }
}

section.our-products .products-parent .products-parent-row .product:nth-child(2) {
  margin: 0 26px;
}

@media (max-width: 992px) {
  section.our-products .products-parent .products-parent-row .product:nth-child(2) {
    margin: 26px 0;
  }
}

@media (max-width: 768px) {
  section.our-products .products-parent .products-parent-row .product:nth-child(2) {
    margin: 16px 0;
  }
}

section.our-products .products-parent .products-parent-row .product {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

section.our-products .products-parent .products-parent-row .product:hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  transition: .5s;
  border-radius: 20px;
}

section.our-products .products-parent .products-parent-row .product:hover .shop-button {
  display: block;
}

section.our-products .products-parent .products-parent-row .product img {
  width: 100%;
  height: 100%;
}

section.our-products .products-parent .products-parent-row .product .shop-button {
  display: none;
  position: absolute;
  width: 120px;
  bottom: 23%;
  background: #fff;
  color: #242424;
  border-radius: 20px;
  padding: 8px;
}

@media (max-width: 768px) {
  section.our-products .products-parent .first .product:nth-child(1) {
    flex: 1;
  }
  section.our-products .products-parent .first .product:nth-child(2) {
    flex: 1;
    margin-left: 16px;
  }
}

@media (max-width: 768px) {
  section.our-products .products-parent .second .product:nth-child(1) {
    order: 3;
  }
  section.our-products .products-parent .second .product:nth-child(2) {
    flex: 1;
    order: 1;
  }
  section.our-products .products-parent .second .product:nth-child(3) {
    flex: 1;
    margin-left: 15px;
    order: 2;
  }
}

section.our-products .more-parent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 18px 0 0 0;
}

section.our-products .more-parent .more-button {
  cursor: pointer;
}

section.our-products .more-parent .more-button i {
  margin-left: 8px;
}

.about-us {
  padding: 168px 0;
}

.about-us .about-us__wrapper {
  display: flex;
}

@media (max-width: 992px) {
  .about-us .about-us__wrapper {
    flex-direction: column-reverse;
  }
}

.about-us .about-us__wrapper .about-left {
  flex: 1;
  margin-right: 60px;
}

@media (max-width: 992px) {
  .about-us .about-us__wrapper .about-left {
    margin: 31px 0 0 0;
  }
}

.about-us .about-us__wrapper .about-right {
  flex: 2;
}

.about-us .about-us__wrapper .about-right img {
  width: 100%;
}

.about-us .about-us__wrapper .about-left__header {
  font-size: 24px;
}

.about-us .about-us__wrapper p {
  margin-top: 26px;
  font-size: 18px;
  font-family: WhitneySansLight;
}

.services {
  padding: 168px 0;
  background-image: url("~assets/images/service-bg.png");
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .services {
    background-size: cover;
  }
}

.services .services__wrapper {
  display: flex;
}

@media (max-width: 992px) {
  .services .services__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .services .services__wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.services .services__wrapper .service:nth-child(2) {
  margin: 0 24px;
}

@media (max-width: 768px) {
  .services .services__wrapper .service:nth-child(2) {
    margin: 15px 0;
  }
}

.services .services__wrapper .service {
  flex: 1;
  height: 530px;
  background: #FFF;
  box-shadow: 0px 4px 8px #00000029;
  border-radius: 20px;
}

@media (max-width: 992px) {
  .services .services__wrapper .service {
    flex: none;
    margin-bottom: 15px;
  }
}

.services .services__wrapper .service .service__header {
  padding: 32px 0 32px 56px;
  color: #fff;
  width: 255px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 18px;
  margin-top: 40px;
}

.services .services__wrapper .service .service__header.yellow {
  background: #BDB130;
}

.services .services__wrapper .service .service__header.green {
  background: #F16649;
}

.services .services__wrapper .service .service__header.blue {
  background: #36A7AA;
}

.services .services__wrapper .service .service-item-list {
  list-style-type: none;
  color: #252525;
  font-family: WhitneySansLight;
  font-size: 16px;
  margin-top: 36px;
  padding: 0 25px 0 55px;
}

.services .services__wrapper .service .service-item-list li {
  margin-bottom: 16px;
}

.services .services__wrapper .service .service-item-list li:before {
  content: '✓';
  padding: 5px;
}

.services .services__wrapper .service .service-item-list.list-yellow li:before {
  color: #BDB130;
}

.services .services__wrapper .service .service-item-list.list-red li:before {
  color: #F16649;
}

.services .services__wrapper .service .service-item-list.list-green li:before {
  color: #36A7AA;
}

.contact-us {
  padding: 168px 0;
}

.contact-us .section-header {
  margin-bottom: 0;
}

.contact-us .contact-us__form-parent {
  display: flex;
  justify-content: center;
}

.contact-us .contact-us__form-parent .form {
  width: 80%;
  background-image: url("~assets/images/contact-map.png");
  background-repeat: no-repeat;
  background-position: 0 -65px;
  padding-top: 140px;
}

.contact-us .contact-us__form-parent .form .form__row {
  display: flex;
  margin-bottom: 32px;
}

@media (max-width: 992px) {
  .contact-us .contact-us__form-parent .form .form__row {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .contact-us .contact-us__form-parent .form .form__row {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.contact-us .contact-us__form-parent .form .form__row .input-parent:first-child {
  margin-right: 53px;
}

@media (max-width: 992px) {
  .contact-us .contact-us__form-parent .form .form__row .input-parent:first-child {
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .contact-us .contact-us__form-parent .form .form__row .input-parent:first-child {
    margin-right: 0;
  }
}

.contact-us .contact-us__form-parent .form .form__row .input-parent {
  flex: 1;
}

@media (max-width: 768px) {
  .contact-us .contact-us__form-parent .form .form__row .input-parent {
    margin: 0 0 32px 0;
  }
}

.contact-us .contact-us__form-parent .form .form__row .input-parent input {
  width: 100%;
  border: 1px solid #151D41;
  border-radius: 5px;
  height: 64px;
  padding: 15px;
  font-family: WhitneySansLight;
  color: #252525;
}

.contact-us .contact-us__form-parent .form .form__row .input-parent input:focus {
  outline: none;
  border-color: #36A7AA;
}

.contact-us .contact-us__form-parent .form .form__row .textarea-parent {
  width: 100%;
}

.contact-us .contact-us__form-parent .form .form__row .textarea-parent textarea {
  width: 100%;
  min-height: 234px;
  resize: none;
  border-radius: 5px;
  padding: 15px;
  font-family: WhitneySansLight;
  color: #252525;
  border: 1px solid #151D41;
}

.contact-us .contact-us__form-parent .form .form__row .textarea-parent textarea:focus {
  outline: none;
  border-color: #36A7AA;
}

@media (max-width: 768px) {
  .contact-us .contact-us__form-parent .form .textarea-w {
    display: none;
  }
}

.contact-us .contact-us__form-parent .form .send-button-parent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-us .contact-us__form-parent .form .send-button-parent .send {
  color: #fff;
  background-color: #F16649;
  border-radius: 30px;
  font-size: 18px;
  border: 1px solid transparent;
  outline: none;
  width: 173px;
  height: 54px;
  transition: .3s ease-in;
  box-sizing: border-box;
  cursor: pointer;
}

.contact-us .contact-us__form-parent .form .send-button-parent .send:hover {
  background: transparent;
  color: #000;
  border-color: #36A7AA;
}

.back-to-top {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  position: fixed;
  right: 100px;
  bottom: 100px;
  z-index: 9;
  border-radius: 50%;
  background: #fff;
  font-size: 24px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16078);
  cursor: pointer;
  color: #252525;
}

@media (max-width: 768px) {
  .back-to-top {
    top: 85%;
    right: 2%;
  }
}

.back-to-top i {
  transition: .5s;
}

.back-to-top:hover {
  color: #252525;
  text-decoration: none;
}

.back-to-top:hover i {
  color: #36A7AA;
  transform: scale(1.4);
}

.support-icon-wrapper {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px #00000029;
  position: fixed;
  bottom: 100px;
  left: 100px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

@media (max-width: 768px) {
  .support-icon-wrapper {
    top: 85%;
    left: 2%;
  }
}

.support-icon-wrapper svg .aa {
  fill: #676463;
}

.support-icon-wrapper svg {
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.support-icon-wrapper:hover svg {
  transform: scale(2);
}

.support-icon-wrapper:hover svg .aa {
  fill: #36A7AA !important;
}

.live-chat-wrapper {
  width: 382px;
  height: 345px;
  background: #ECECEC;
  border-radius: 20px;
  position: absolute;
  left: -20%;
  bottom: -100%;
  z-index: 99;
  box-shadow: 0px 4px 8px #00000029;
}

@media (max-width: 768px) {
  .live-chat-wrapper {
    left: 0%;
    bottom: -160%;
  }
}

.live-chat-wrapper .chat-head {
  background: #fff;
  border-radius: 20px;
  padding: 26px 24px 15px;
}

.live-chat-wrapper .chat-head .header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.live-chat-wrapper .chat-head .header-section .chat-logo {
  width: 92px;
  height: 27px;
}

.live-chat-wrapper .chat-head .header-section .chat-logo img {
  width: 100%;
}

.live-chat-wrapper .chat-head .header-section .chat-close {
  cursor: pointer;
  height: 25px;
  width: 25px;
  font-size: 19px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-chat-wrapper .chat-head .content-section {
  margin-top: 31px;
  text-align: center;
  padding: 0 49px;
}

.live-chat-wrapper .chat-head .content-section .welcome-message {
  color: #151D41;
  margin-top: 19px;
  margin-bottom: 13px;
  font-size: 16px;
  font-family: WhitneySansLight;
}

.live-chat-wrapper .chat-head .content-section .chat-status {
  color: #F16649;
  font-size: 16px;
  font-family: WhitneySans;
}

.live-chat-wrapper .message-section {
  padding: 20px;
}

.live-chat-wrapper .message-section textarea {
  resize: none;
  border: none;
  outline: none;
  width: 100%;
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: transparent;
  color: #676464;
}

.live-chat-wrapper .message-section textarea::placeholder {
  color: #bab9b9;
}

.live-chat-wrapper .message-section .bottom-smile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.live-chat-wrapper .message-section .bottom-smile-section .emoji, .live-chat-wrapper .message-section .bottom-smile-section .paper-clip {
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.live-chat-wrapper .message-section .bottom-smile-section .emoji {
  background-image: url(~assets/images/emoji.svg);
}

.live-chat-wrapper .message-section .bottom-smile-section .paper-clip {
  background-image: url(~assets/images/paper-clip.svg);
}

.personalized-frames {
  padding: 64px;
  color: #252525;
}

.personalized-frames .personalized-frames_header {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.personalized-frames .step-by-step-progres-parent {
  position: relative;
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personalized-frames .reset {
  position: absolute;
  left: 0;
  top: 0;
  color: #F16649;
  font-family: WhitneySansLight;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 670px) and (min-width: 300px) {
  .personalized-frames .reset {
    top: 35px;
  }
}

.personalized-frames .two-blocks-parent {
  margin-top: 64px;
  display: flex;
}

.personalized-frames .two-blocks-parent .left-col, .personalized-frames .two-blocks-parent .right-col {
  flex: 1;
}

.personalized-frames .two-blocks-parent .left-col {
  margin-right: 50px;
}

.personalized-frames .two-blocks-parent .field-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personalized-frames .two-blocks-parent .field-parent .plus {
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 20px;
}

.personalized-frames .two-blocks-parent .field-parent .plus:hover {
  opacity: .8;
}

.personalized-frames .two-blocks-parent .input-parent-block {
  position: relative;
}

.personalized-frames .two-blocks-parent .input-parent-block input {
  width: 100%;
  height: 63px;
  border: none;
  border-bottom: 1px solid #ECECEC;
  padding: 25px 60px 25px 15px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.16px;
  font-size: 16px;
  font-family: WhitneySansLight;
}

.personalized-frames .two-blocks-parent .input-parent-block input::placeholder {
  color: #A2A2A2;
  opacity: 1;
}

.personalized-frames .two-blocks-parent .input-parent-block input:focus {
  outline: none;
  border-color: #007bff;
}

.personalized-frames .two-blocks-parent .input-parent-block .limitor {
  position: absolute;
  right: 2%;
  top: 36%;
  color: #E1E1E1;
}

.personalized-frames .two-blocks-parent .fonts-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 34px;
  margin-top: 16px;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item {
  width: 112px;
  height: 93px;
  text-align: center;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item input {
  display: none;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item label {
  width: 100%;
  height: 60px;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item:nth-child(1) {
  font-family: WhitneySans;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item:nth-child(2) {
  font-family: 'Chewy', cursive;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item:nth-child(3) {
  font-family: 'Damion', cursive;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item:nth-child(4) {
  font-family: Arial;
}

.personalized-frames .two-blocks-parent .fonts-list .font-item:nth-child(4) .font-prev {
  font-weight: 900;
}

.personalized-frames .two-blocks-parent .fonts-list .font-prev {
  width: 100%;
  height: 60px;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  transition: .3s ease-in;
  cursor: pointer;
  color: #676464;
}

.personalized-frames .two-blocks-parent .fonts-list .font-prev:hover {
  border-color: #36A7AA;
}

.personalized-frames .two-blocks-parent .fonts-list .font-name {
  margin-top: 8px;
  color: #A7A7A7;
  font-family: WhitneySansMedium;
}

.personalized-frames .two-blocks-parent .field-header {
  font-size: 18px;
}

.apply-button {
  width: 100%;
  height: 50px;
  color: #fff;
  border: none;
  box-sizing: border-box;
  background: #36A7AA;
  outline: none;
  opacity: 1;
  margin-bottom: 34px;
  transition: .3s;
}

.apply-button:focus {
  outline: none;
}

.apply-button:hover {
  opacity: .9;
}

.toggle-inputs {
  display: none;
}

.textDropable {
  display: inline-block;
  width: fit-content;
  font-size: 4.95ex;
  line-height: 49px;
  cursor: grab;
  width: max-content;
}

.rotate {
  transform: rotate(180deg);
}

.checked-font {
  background-color: #36A7AA;
  border-radius: 5px;
}

.checked-font div {
  color: #fff !important;
}

.preview-frame-parent {
  width: 568px;
  height: 608px;
  background: #FFF;
  border: 1px solid #707070;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-frame-parent .frame {
  position: relative;
  width: 385px;
  height: 500px;
  background-image: url(~assets/images/frame.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.preview-frame-parent .frame .fr {
  z-index: 2;
}

.preview-frame-parent .frame .fr .draggable {
  width: 50px;
}

.preview-frame-parent .frame .fr .draggable,
.preview-frame-parent .frame .fr .draggable svg {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.preview-frame-parent .frame .fr .draggable svg .a {
  fill: #252525;
}

.preview-frame-parent .frame .top {
  width: 84.44%;
  height: 53px;
  position: absolute;
  top: 1.2%;
  left: 5.6%;
  transform: rotate(-1deg);
}

.preview-frame-parent .frame .right {
  width: 14%;
  height: 73.5%;
  position: absolute;
  top: 11%;
  left: 76%;
  transform: rotate(0.1deg);
  writing-mode: tb-rl;
}

.preview-frame-parent .frame .bottom {
  width: 83.9%;
  height: 53px;
  position: absolute;
  bottom: 4.8%;
  left: 6.2%;
  transform: rotate(-0.5deg);
}

.preview-frame-parent .frame .left {
  width: 14%;
  height: 73%;
  position: absolute;
  top: 12%;
  right: 80%;
  transform: rotate(-0.3deg);
  writing-mode: tb-rl;
}

.snaptarget-hover {
  background: #ff00002e;
}

.fix-button-parent {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 183px;
  background-color: #fff;
  box-shadow: 4px 0px 8px #00000029;
  padding: 78px 0 50px 0;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.fix-button-parent .next-button {
  width: 330px;
  height: 55px;
  background-color: #F16649;
  border-radius: 28px;
  color: #fff;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: .3s;
  cursor: pointer;
}

.fix-button-parent .next-button svg {
  width: 30px;
  height: 20px;
  transform: rotate(180deg);
  transition: .3s;
}

.fix-button-parent .next-button:hover svg#Layer .hovered-path {
  fill: #000;
}

.fix-button-parent .next-button:hover {
  background: #fff;
  color: #000;
  border-color: #36A7AA;
}

.progressbar-wrapper {
  width: 360px;
}

.progressbar-wrapper .progressbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progressbar-wrapper .progressbar div {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #707070;
}

.progressbar-wrapper .progressbar div:before {
  content: '';
  position: absolute;
  width: 175px;
  height: 2px;
  background: #707070;
  top: 45%;
  left: -85px;
  z-index: -1;
}

.progressbar-wrapper .progressbar div:last-child:before {
  width: 87.5px;
}

.progressbar-wrapper .progressbar div.active {
  background-color: #BDB130;
  border-color: #BDB130;
}

.progressbar-wrapper .progressbar div.active:before {
  content: '';
  position: absolute;
  width: 87.5px;
  height: 2px;
  background: #BDB130;
  top: 45%;
  left: 0;
  z-index: -1;
}

footer {
  background-color: #676464;
  font-family: WhitneySansLight;
  color: #FFF;
  padding: 65px 0 51px 0;
}

footer .faq-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.16px;
  margin-bottom: 38px;
}

footer .faq-parent a {
  color: #fff;
}

footer .faq-parent div:first-child {
  margin-right: 66px;
}

footer .support-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 67px;
}

@media (max-width: 992px) {
  footer .support-parent {
    flex-wrap: wrap;
  }
}

footer .support-parent svg {
  margin-right: 12px;
}

footer .support-parent div {
  margin-right: 55px;
}

@media (max-width: 768px) {
  footer .support-parent div {
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

footer .support-parent div:last-child {
  margin: 0;
}

footer .support-parent a {
  color: #fff;
}

footer .privacy-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  footer .privacy-parent {
    flex-wrap: wrap;
  }
  footer .privacy-parent div {
    width: 100%;
    text-align: center;
  }
}

footer .privacy-parent div:first-child {
  margin-right: 82px;
}

@media (max-width: 768px) {
  footer .privacy-parent div:first-child {
    margin-right: 0;
    margin-bottom: 7px;
  }
}

footer .privacy-parent a {
  color: #fff;
  text-decoration: underline;
}

footer .line {
  width: 100%;
  border: 1px solid;
  margin: 30px 0;
}

footer .rights-reserved {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */