@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

@font-face {
    font-family: WhitneySans;
    src: url(../fonts/Whitney-Semibold.otf);
}
@font-face {
    font-family: WhitneySansMedium;
    src: url(../fonts/WhitneySans-MediumOSFRegular.ttf);
}
@font-face {
    font-family: WhitneySansLight;
    src: url(../fonts/Whitney-Light.otf);
}


.whitneysans {
    font-family: WhitneySans;
    font-size: 4.4rem;
}
.chewy {
    font-family: Chewy;
    font-size: 4rem;
}
.damion {
    font-family: Damion;
    font-size: 6.5rem;
}
.arial {
    font-family: Arial;
    font-size: 4rem;
}