.services {

    padding: 168px 0;
    background-image: url('../images/service-bg.png');
    background-repeat: no-repeat;


    @media (max-width: 992px) {
        background-size: cover;
    }
    @media (max-width: 768px) { 
        padding: 49px 0;
        background-image: none;
    }

    .services__wrapper {
        display: flex;

        @media (max-width: 992px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        @media (max-width: 768px) {
            flex-wrap: wrap;
            flex-direction: column;
        }

        .service:nth-child(2) {
            margin: 0 24px;

            @media (max-width: 768px) {
                margin: 15px 0;
            }
        }

        .service {
            flex: 1;
            height: 530px;
            background: #FFF;
            box-shadow: 0px 4px 8px #00000029;
            border-radius: 20px;
            
            @media (max-width: 992px) {
                flex: none;
                margin-bottom: 15px;
            }


            .service__header {
                padding: 32px 0 32px 56px;
                color: #fff;
                width: 255px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                font-size: 18px;
                margin-top: 40px;

                @media (max-width: 768px) {  
                    height: 51px;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &.yellow {
                    background: #BDB130
                }
                &.rred {
                    background: #F16649;
                }
                &.blue {
                    background: #36A7AA;
                }
            }

            .service-item-list {

                list-style-type: none;
                color: #252525;
                font-family: WhitneySansLight;
                font-size: 16px;
                margin-top: 36px;
                padding: 0 25px 0 55px;

                li {
                    margin-bottom: 16px;
                }

                li:before {
                    content: '✓';
                    padding: 5px;
                }

                &.list-yellow {
                    li:before {
                        color: #BDB130;
                    }
                }
                &.list-red {
                    li:before {
                        color: #F16649;
                    }
                }
                &.list-green {
                    li:before {
                        color: #36A7AA;
                    }
                }
            }
        }
    }
}